html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body { 
    background-color: black; 
    margin: 0; 
}

@font-face {
    font-family: 'jedi';
    src: url('./assets/fonts/Starjedi.ttf'); 
}
@font-face {
    font-family: 'force';
    src: url('./assets/fonts/SerifGothicStd-Black.otf'); 
}


.container{
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
    margin: 0px;
}

/* /////////////------------------HEADER */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
    height: 300px;
    width: 100%;
}

.title{
    font-family: 'jedi';
    font-size: 4em;
    color: black;
    text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
    padding: 0px;
    margin: 0px;

    
}
.title2{
    font-family: 'jedi';
    font-size: 4em;
    color: black;
    text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
    padding: 0px;
    margin: 0px;
    display: none;
    
}


.subTitle{
    font-family: 'force';
    font-size: 1.5em;    
    color: white; 
    /* letter-spacing: 5px; */
    padding: 0px;
    margin: 0px;
}
.subTitle2{
    font-family: 'force';
    font-size: 1.5em;    
    color: white; 
    /* letter-spacing: 5px; */
    padding: 0px;
    margin: 0px;
    display: none;
}



@media only screen and (min-width: 800px) and (max-width: 10000px) {
    .subTitle{
        letter-spacing: 10px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 800px)  {
    .subTitle{
        letter-spacing: 5px;
    }
}
@media only screen and (min-width: 550px) and (max-width: 600px) {
    .subTitle{
        letter-spacing: 3px;
    }
}  
@media only screen and (min-width: 0px) and (max-width: 550px) {
    .subTitle{
        letter-spacing: 0px;
    }
}  
@media only screen and (min-width: 450px) and (max-width: 550px) {
    header{
        height: 250px;
    }
    
    .title{
        
        display: none;
    } 
    .title2{
        font-size: 3em;
        display: initial;
    }
    .subTitle{
        letter-spacing: 0px;
        display: none;
    }
   
    .subTitle2{
        letter-spacing: 0px;
        text-align: center;
        display: initial;
    }


}  

@media only screen and (min-width: 0px) and (max-width: 450px) {
    header{
        height: 200px;
    }
    
    
    .title{
        
        display: none;
    } 
    .title2{
        font-size: 2em;  
        display: initial;    
    }
    .subTitle{
        letter-spacing: 0px;
        display: none;
    }
    .subTitle2{
        font-size: .9em;
        display: initial;
        
    }
}


/* /////////////------------------NAVBAR */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.navBar{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin: 20px;
}


a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration: none;
}

a:hover {
    color: rgb(97, 34, 156);
    text-decoration: none;
}

a:active {
    color: rgb(97, 34, 156);
    text-decoration: none;
}

/* /////////////------------------HOME */
.home{
    margin: 0px;
    color: #FFFF82;
    height: 400px;
}



/* Set the font, lean the board, position it */
.board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
  }
  
  .board:after {    
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }
  
  /* Set the scrolling animation and position it */
  .contentHome {
    animation: scroll 100s linear 1s;
    position: absolute;
    top: 100%;
  }
  
  .titleHome, .subtitleHome {
    text-align: center;
  }
  
  @keyframes scroll {
      0% {
          top: 100%;
      }
      100% {

          top: -170%;
      }
  }

/* /////////////------------------ABOUT */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 420px;
    
}







/* /////////////------------------CONTENT */

.contentWrapper {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    
    /* margin: auto; */
    /* background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg); */
}

.contentBoxes{
    /* justify-content: center; */
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.61);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.contentBoxesFilm{
    /* justify-content: center; */
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.61);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 400px;
}

@media only screen and (min-width: 0px) and (max-width: 823px) {
    .contentWrapper{
        justify-content: center;
    }

}  

.titleText{
    color: rgb(255, 255, 255);
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.288);
    margin-top: 95%;
}

.adjText{
    color: rgb(110, 110, 110);
}


/* /////////////------------------FOOTER */

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg); */
    height: 100px;
    width: 100%;
    
}

.footerTitle{
    font-family: 'force';
    color: white;
}

.swapiTitle{
    font-family: 'jedi';
    text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
}

.footer a:link {
    color: black;
    text-decoration: none;
}

.footer a:visited {
    color:black;
    text-decoration: none;
}

.footer a:hover {
    color: rgb(97, 34, 156);
   
}

.footer a:active {
    color: rgb(97, 34, 156);
    
}

.footerLink a:link {
    color: white;
    text-decoration: none;
}
