.storyBlock {
    display: inline-block; width: 40%;
    
  }
  
  .classyBlock {
    display: inline-block; width: 30%;
  }
  
  #img {
    float: right;
    width: 100%;
  }
  
  .classyImgs {
    width: 100%
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      font-family: 'Karla', sans-serif;
  }
  
  li {
      float: left;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: 'Karla', sans-serif;
  }
  
  li a:hover:not(.active) {
      background-color: #111;
  }
  
  .active {
      background-color: darkred;
  }
  